<html class="js-focus-visible" data-js-focus-visible="">

<head>
    <meta charset="utf-8">
    <script src="./assets/js/index.js"></script>
    <link rel="stylesheet" href="./assets/css/index.css">
</head>

<body>
    <div id="app">
        <div class="main-window platform-win32 battly-1gh52kq">
            <%- include('header') %>
                <main class="installer-body battly-1gh52kq">
                                    <%- include('language') %>
                    <%- include('eula') %>
                        <%- include('install-options') %>
                            <%- include('path') %>
                                <%- include('ads') %>
                                    <%- include('logs') %>
                                        <%- include('footer') %>
                </main>
        </div>
    </div>
</body>

</html>